@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.fila{ 
    display: flex;
    flex-direction: row;
}
 
.color-cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: calc((259px * 4 )+ (20px * 3) + (20px * 2));
    padding: 0 20px;
    flex-wrap: wrap;
}

.color-card{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 20px;
}
.color-card .colors{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background-color: aqua;
    border-radius: 15px;
    overflow: hidden;

}
.color-card .colors .color:nth-last-child(1){
    width: 100%;
    height: 40%;
    background-color: brown;
}
.color-card .colors .color:nth-last-child(2){
    width: 100%;
    height: 30%;
    background-color: rgb(9, 9, 129);
}
.color-card .colors .color:nth-last-child(3){
    width: 100%;
    height: 17%;
    background-color: rgb(90, 6, 72);
}
.color-card .colors .color:nth-last-child(4){
    width: 100%;
    height: 13%;
    background-color: rgb(7, 3, 3);
}
.color-card .color-card-controls{
    display: flex;
    flex-direction: row;/* este viene predeterminado*/
    align-items: center;
    justify-content: space-between;
    
}
.color-card-controls .btn-like{
    height: 40px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: white;
    border: 1px solid rgb(32, 31, 31);
    border-radius: 10px;
    gap: 5px;
    box-shadow: none;
}
.color-card-controls .time{
 
} 